header{
 
 width: 100%;
 height:100px;
}
#bankName{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#sub{
    font-size: 20px;
}
nav{
    border-radius: 10px;
    background-color: lightblue;
    
    width: 100%;
    height:100px;
}

.btn{
    color: white;
    font-size: 18px;
    height: 40px;
    width: 100px;
    background-color: orangered;
  margin-top: 25px;
    border-radius: 5px;
    margin-left: 50px;
}
.btn:hover{
    color: white;
    background-color: limegreen;
 
}
#logIn{
    margin-left: 200px;
    font-size: 18px;
    height: 40px;
    width: 100px;
    color: white;
    background-color: blue;
    border-radius: 5px;
}
#signUp{
    font-size: 18px;
    height: 40px;
    width: 100px;
    color: white;
    background-color: blue;
    border-radius: 5px;
}
section{
    

    width: 75%;
    height:500px;
}
.products{
width: 245px;
height: 200px;
}
.deals{
    width: 331px;
    height: 150px;
}

aside{
    
    width: 25%;
    height:500px;
    margin-left: 75%;
    margin-top: -502px;
}
#latestNews{
    border-radius: 15px;
    
    width: 100%;
    height:250px;
    
}
#caution{
    border-radius: 15px;
    
    width: 100%;
    height:128px;
    margin-top: -4px;
}
.animation{
animation: anime 5s infinite;
}
@keyframes anime{
    0%{color: red;}
    20%{color: royalblue;}
    50%{color: seagreen;}
    80%{color: tomato;}
    100%{color: brown;}
}
footer{
    
    width: 100%;
    height:600px;
}
#otherLinks{
    text-align: center;
    background-color: whitesmoke;
    width: 25%;
    height: 500px;
    
   
    }
#calculators{
    text-align: center;
    background-color: whitesmoke;
    width: 25%;
    height: 500px;
    
    margin-left: 25%;
    margin-top: -510px;
    }
#contactUs{
    text-align: center;
    background-color: whitesmoke;
width: 25%;
height: 500px;

margin-left: 50%;
margin-top: -510px;
}
#connectWithUs{
    text-align: center; 
    background-color: whitesmoke;
    width: 25%;
    height: 500px;
    
    margin-left: 75%;
    margin-top: -510px;
    }
 a:link{
    text-decoration: none;
} 
a:hover{
   color: crimson;
text-decoration-line: underline;
}
#footer{
    background-color: black;
}
#footerLast{
    color: white;
}
#rights{
    float:right;
}
