aside{
    
    width: 80%;
    height: 410px;
    margin-left: 20%;
    margin-top: -412px;
  }
  #accDetails{
      
      width: 100%;
    height: 100px;
  }
  #tableFirst{
      margin-left: 100px;
  }
  #balanceClick{
      text-align: left;
      padding-left: 20px;
      color: blue;
      
  }
  #balanceClick:hover{
      color: red;
      
  }
  .accDetalisTableCell{
      width: 255px;
      height: 40px;
  }
  #deposit{
      
      width: 24%;
      height: 65px;
      margin-left:100px ;
  }
  #withdraw{
      
    width: 24%;
    height: 65px;
    margin-top: 0px;
    margin-left: 663px;
  }
  #withdrawTable{
      width: 150px;
  }
  #depositbtn{
      margin-left: 100px;
      margin-bottom: 3px;
  }
  #withdrawbtn{
      margin-left: 498px;
      margin-bottom: 3px;
  }
  #depositProceed,#withdrawProceed{
margin-top: 3px;
      margin-left: 216px;
  }
  .floatLeft{
    text-align: left;padding-left:10px;
  }
  #table{
      
      width: 80%;
    height: 100px;
    margin-top: 100px;
    margin-left: 100px ;
  }
  table,th,tr,td{
      border:1px solid;
  }
  .th{
     padding-left: 88px;
     text-align: center;
  }
  td{
      text-align: right;
  }
     #footer{
         
        width: 100%;
        height: 100px;
      background-color: black;
  }
  #depositVerify{
      
      
     margin-right: 880px;
     margin-left: 100px;
  }
  #withdrawVerify{
    
    margin-top: -20px;
    margin-right: 300px;
    margin-left: 663px;
  }